---
AccessModifierOffset: -1
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
AlignOperands: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations : true
ColumnLimit: 0
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IndentWidth: 1
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpaceInEmptyParentheses: true
SpacesBeforeTrailingComments: 2
SpacesInAngles: true
SpacesInConditionalStatement: true
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
TabWidth: 1
UseTab: AlignWithSpaces
...
